.footer-columns{
    display: flex;
}

.footer-column{
    flex: 50%;
    margin: 20px;
}

header, footer{
    background-color: blueviolet;
    padding: 10px;
}

main{
    padding: 10px;
    background-color: aquamarine;
}

.post{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img{
    margin: 20px;
}

#menu1 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10px;
}

#menu1 ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
}

#menu1 > ul::after{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

#menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

#menu1 ul li a{
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    height: 36px;
    box-sizing: border-box;
}

#menu1 ul li a{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background-color: palevioletred;
}

#menu1 ul li:hover ul{
    display: block;
}

#menu1 ul li ul li{
    float: none;
    width: 100%;
}

