/* ul{
    padding: 15px;
    margin: 3px;
    background-color: brown;
    list-style-type: upper-roman;
}

ol{
    padding: 15px;
    margin: 3px;
    background-color: brown;
    list-style-type: upper-roman;
}

ul li{
    padding: 5px;
    margin: 5px 15px;
    background-color: aquamarine;
}

ol li{
    padding: 5px;
    margin: 5px 15px;
    background-color: aquamarine;
} */

ul li{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    width: 100%;
}

li{
    float: left;
    width: auto;
}

a{
    background-color: aqua;
    color: blue;
    display: block;
    font: bold 13px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: double;
}

li:hover a{
    background-color: brown;
}