.footer-columns{
    display: flex;
}

.footer-column{
    flex: 50%;
    margin: 20px;
}

header, footer{
    background-color: blueviolet;
    padding: 10px;
}

main{
    padding: 10px;
    background-color: aquamarine;
}

.post{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img{
    margin: 20px;
}