h2 {
    margin: auto;
}

div {
    margin-top: 2px;
    text-align: center;
}

#container {
    width: auto;
}

#header {
    background-color: aqua;
    height: 150px;
}

#navigation {
    background-color: aqua;
    height: 40px;
}

#content {
    background-color: aqua;
    float: right;
    width: 25%;
    height: 400px;
}

#sidebar {
    background-color: aquamarine;
    float: left;
    width: 75%;
    height: 400px;
}

#clear {
    clear: both;
}

#footer {
    margin-top: 4px;
    background-color: azure;
    height: 150px;
}
